@using ShopWatch.WebMvc.ViewModels
@model UserViewModel
@{
	ViewBag.Title = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết @Model.Name</h2>
<hr />
<form action="/Admin/UserManagement/Details" method="post" class="row form-horizontal" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label">Id</label>
			<div>
				<input type="text" name="PublisherId" class="form-control" value="@Model.UserId" style="width:300px" readonly="readonly" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Họ và tên:</label>
			<div>
				<input type="text" name="PublisherName" class="form-control" value="@Model.Name" style="width:500px" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Thành phố:</label>
			<div>
				<input type="text" name="City" class="form-control" value="@Model.City" style="width:500px" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Số điện thoại</label>
			<div>
				<input type="text" name="PublisherName" class="form-control" value="@Model.Phone" style="width:500px" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Email</label>
			<div>
				<input type="text" name="PublisherName" class="form-control" value="@Model.Email" style="width:500px" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Ngày sinh</label>
			<div>
				<input type="text" name="PublisherName" class="form-control" value="@Model.BirthDate.ToString("dd/MM/yyyy")" style="width:500px" required />
			</div>
		</div>
	</div>
	<div class="col-md-8">
        <div class="form-group">
            <label class="control-label">Địa chỉ:</label>
            <div>
                <input type="text" name="PublisherName" class="form-control" value="@Model.Address" style="width:500px" required />
            </div>
        </div>
		<div class="form-group">
			<label class="control-label bg-danger">Tài khoản: @Model.Account.AccountName</label>
		</div>
		<div class="form-group" style="height:auto">
			<label class="control-label" for="ImgUrl">Image :</label>
			<img id="FileImage" src="~/Assets/images/Photo/@Model.Photo" name="ImgUrlhi" alt="your image" class="img-thumbnail" />
		</div>
		<div class="form-group">
			<a href="/Admin/UserManagement" class="btn btn-outline-primary">Trở lại</a>
		</div>
	</div>
</form>
