@using ShopWatch.WebMvc.Models
@{ 
	var session = (UserLogin)Session["UserSession"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Watch - Đồng hồ phụ kiện chính hãng</title>
    @Styles.Render("~/Assets/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Assets/css/site.css" />
    <link rel="shortcut icon" href="~/Assets/images/image icon/smart-watch.png" />
    <link href="~/Content/css/sweetalert.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/js/sweetalert.min.js"></script>
    <script src="~/Scripts/js/410ba3b69f.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-warning fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="@Url.Action("Index", "Home")">
			<img src="~/Assets/images/image icon/smart-watch.png" width="30" height="30" class="d-inline-block align-top"
				 alt="">
			<span class="menu-collapsed">Luxury Watch</span>
		</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto" style="color:black">
				<li class="nav-item active text-danger">
					<a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("About", "Home")">Thông tin </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Contact", "Home")">Liên Lạc</a>
				</li>
				@if (session != null && session.AccountRoleId == 2)
				{
	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">Admin</a>
	</li>
}
				@Html.Action("CartPartial", "ShoppingCart")
				@if (session != null)
				{
	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index", "PurchaseOrder")">Đơn hàng</a>
	</li>
}
			</ul>

			<form class="d-flex" action="/Home/Index" method="get">
				<input class="form-control me-2 " name="search" type="search" placeholder="Tìm kiếm" aria-label="Search">
				<button class="btn btn-outline-success" type="submit" style="width: 130px">Tìm kiếm</button>
			</form>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>
	<div class="row" id="body-row">
		@Html.Partial("_SideBar")
		<div class="col py-3">
			@RenderBody()
		</div>
		<hr />
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Assets/js/site.js"></script>
	@RenderSection("scripts", required: false)
	<script>
		function check() {
			var phone = '^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$';
			var email = '^([a-zA-Z0-9_|.])+@@(([a-zA-Z0-9|_])+).{1}([a-zA-Z])+.?([a-zA-Z])+$';
			var phones = document.getElementById('phone').value;
			var emails = document.getElementById('email').value;
			if (!phones.RegExp(phone)) {
				alert('Số điện thoại không đúng định dạng');
				return false;
			}
			if (!emails.RegExp(email)) {
				alert('Email không đúng định dạng');
				return false;
			}
			console.log(emails);
			return false;
		}
	</script>
</body>
</html>
